/* media Queries for Html */



/*my reference 
for 48 pixel used 3rem
for 36 pixel used 2.4rem
for 32 pixel used 2rem
for 24 pixel used 1.5rem
for 16 pixel used 1rem
for 6 pixel used 0.3575rem
*/




/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    html {
        font-size: 12px;
    }
    
    

    .homePageIllustration {
        margin-top: 4rem;
    }

    .myBitemoji {
        width: 8rem;
    }

    .Project_heroImage {

        border-radius: 1rem;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .project_1_heroImage {
        content: url("../../Projects/Project_1/LandingImage_mobile.png");
    }
    .project_2_heroImage {
        content: url("../../Projects/Project_2/landingPage_mobile.png")
    }
    .project_3_heroImage {
        content: url("../../Projects/Project_3/landingImage_mobile.png")
    }
    .project_fun_1_heroImage {
        content: url("../../Projects/Project_Fun_1/LandingImage_Mobile.png")
    }
    .project_fun_2_heroImage {
        content: url("../../Projects/Project_Fun_2/Words_Animation/slice.gif")
    }
    .project_fun_3_heroImage{
        content: url("../../Projects/Project_Fun_3/LandingImage_Mobile.png")
    }
    .project_wireframes{
        width: 100%;
        height: 100%
    }
    
     .iconSetDownLoadId1{
        display: none !important;
    }
    .iconSetDownLoadId2{
        display: block !important;
    }

    .carousel-inner{
        height: 19rem !important;
    }

    .mobileMenu{
        display: block;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    html {
        font-size: 13px;
    }

    

    .homePageIllustration {
        margin-top: 3rem;
    }

    .myBitemoji {
        width: 8rem;
    }

    .project_1_heroImage {
        content: url("../../Projects/Project_1/LandingImage.png")
    }
    
    .project_2_heroImage {
        content: url("../../Projects/Project_2/landingPage.png")
    }
    .project_3_heroImage {
        content: url("../../Projects/Project_3/landigImage.png")
    }
    .project_fun_1_heroImage {
        content: url("../../Projects/Project_Fun_1/landingImage.png")
    }
    .project_fun_2_heroImage {
        content: url("../../Projects/Project_Fun_2/Words_Animation/slice.gif")
    }
    .project_fun_3_heroImage{
        content: url("../../Projects/Project_Fun_3/landingImage.png")
    }
    .project_wireframes{
        width: 100%;
        height: 100%
    }
    
    .iconSetDownLoadId1{
        display: none !important;
    }
    .iconSetDownLoadId2{
        display: block !important;
    }
    .carousel-inner{
        height: 16rem !important;
    }
    .mobileMenu{
        display: block;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    html {
        font-size: 14px;
    }

    .homePageIllustration {
        margin-top: 1rem;
        width: 80%;
    }

    .myBitemoji {
        width: 8rem;
    }

    .project_1_heroImage {
        content: url("../../Projects/Project_1/LandingImage.png")
    }
    .project_2_heroImage {
        content: url("../../Projects/Project_2/landingPage.png")
    }
    .project_3_heroImage {
        content: url("../../Projects/Project_3/landigImage.png")
    }
    .project_fun_1_heroImage {
        content: url("../../Projects/Project_Fun_1/landingImage.png")
    }
    .project_fun_2_heroImage {
        content: url("../../Projects/Project_Fun_2/Words_Animation/slice.gif")
    }
    .project_fun_3_heroImage{
        content: url("../../Projects/Project_Fun_3/landingImage.png")
    }
    .project_wireframes{
        height: 22rem;
        width: auto
    }
    
    .iconSetDownLoadId2{
        display: none !important;
    }
    .iconSetDownLoadId1{
        display: block !important;
    }
    .carousel-inner{
        height: 12rem !important;
    }
    .mobileMenu{
        display: block;
    }
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    html {
        font-size: 16px;
    }

    .homePageIllustration {
        margin-top: 0rem;
        width: 100%;
    }

    .myBitemoji {
        width: 8rem;
    }

    .project_1_heroImage {
        content: url("../../Projects/Project_1/LandingImage.png")
    }
    .project_2_heroImage {
        content: url("../../Projects/Project_2/landingPage.png")
    }
    .project_3_heroImage {
        content: url("../../Projects/Project_3/landigImage.png")
    }
    .project_fun_1_heroImage {
        content: url("../../Projects/Project_Fun_1/landingImage.png")
    }
    .project_fun_2_heroImage {
        content: url("../../Projects/Project_Fun_2/Words_Animation/slice.gif")
    }
    .project_fun_3_heroImage{
        content: url("../../Projects/Project_Fun_3/landingImage.png")
    }
    .project_wireframes{
        height: 25.75rem;
    }
    
    .iconSetDownLoadId2{
        display: none !important;
    }
    .iconSetDownLoadId1{
        display: block !important;
    }
    .mobileMenu{
        display: none;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    html {
        font-size: 18px;
    }

    .homePageIllustration {
        margin-top: 0rem;
        width: 100%;
    }

    .project_1_heroImage {
        content: url("../../Projects/Project_1/LandingImage.png")
    }
    .project_2_heroImage {
        content: url("../../Projects/Project_2/landingPage.png")
    }
    .project_3_heroImage {
        content: url("../../Projects/Project_3/landigImage.png")
    }
    .project_fun_1_heroImage {
        content: url("../../Projects/Project_Fun_1/landingImage.png")
    }
    .project_fun_2_heroImage {
        content: url("../../Projects/Project_Fun_2/Words_Animation/slice.gif")
    }
    .project_fun_3_heroImage{
        content: url("../../Projects/Project_Fun_3/landingImage.png")
    }
    .project_wireframes{
        height: 25.75rem;
    }
    
    .iconSetDownLoadId2{
        display: none !important;
    }
    .iconSetDownLoadId1{
        display: block !important;
    }
}

@media only screen and (min-width: 1900px) {
    html {
        font-size: 32px;
    }
    .homePageIllustration {
        margin-top: 0rem;
        width: 100%;
    }

    .project_1_heroImage {
        content: url("../../Projects/Project_1/LandingImage.png")
    }
    .project_2_heroImage {
        content: url("../../Projects/Project_2/landingPage.png")
    }
    .project_3_heroImage {
        content: url("../../Projects/Project_3/landigImage.png")
    }
    .project_fun_1_heroImage {
        content: url("../../Projects/Project_Fun_1/landingImage.png")
    }
    .project_fun_2_heroImage {
        content: url("../../Projects/Project_Fun_2/Words_Animation/slice.gif")
    }
    .project_fun_3_heroImage{
        content: url("../../Projects/Project_Fun_3/landingImage.png")
    }
    .project_wireframes{
        height: 25.75rem;
    }
    
    .iconSetDownLoadId2{
        display: none !important;
    }
    .iconSetDownLoadId1{
        display: block !important;
    }
}

@media only screen and (min-width: 2150px) {
    html {
        font-size: 40px;
    }

    .homePageIllustration {
        margin-top: 0rem;
        width: 100%;
    }

    .project_1_heroImage {
        content: url("../../Projects/Project_1/LandingImage.png")
    }
    .project_2_heroImage {
        content: url("../../Projects/Project_2/landingPage.png")
    }
    .project_3_heroImage {
        content: url("../../Projects/Project_3/landigImage.png")
    }
    .project_fun_1_heroImage {
        content: url("../../Projects/Project_Fun_1/landingImage.png")
    }
    .project_fun_2_heroImage {
        content: url("../../Projects/Project_Fun_2/Words_Animation/slice.gif")
    }
    .project_fun_3_heroImage{
        content: url("../../Projects/Project_Fun_3/landingImage.png")
    }
    .project_wireframes{
        height: 25.75rem;
    }
    
    .iconSetDownLoadId2{
        display: none !important;
    }
    .iconSetDownLoadId1{
        display: block !important;
    }
}


body {
    background-color: #000000 !important;
    -webkit-animation: gradient 16s ease infinite;
    -moz-animation: gradient 16s ease infinite;
    animation: gradient 16s ease infinite;
}

@font-face {
    font-family: "San Francisco";
    font-weight: 400;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

@font-face {
    font-family: "San Francisco";
    font-weight: 700;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff");
}

.fixedCol {
    float: left;
    width: 50%;
    padding: 10px;
}

#bar {
  position:fixed;
  width:0%;
  height:0.2rem;
  top:0;
  left:0;
  z-index:2000;
  background:#FF7600;
}
.icon-scroll,
.icon-scroll:before {
    position: absolute;
    left: 50%
}
.icon-scroll {
    width: 1.4rem;
    height: 2rem;
    bottom:0rem;
    border: 2px solid #fff;
    border-radius: 25rem
}
@media (max-width: 767px) {
    .icon-scroll {
        position: relative
    }
}
.icon-scroll:before {
    content: '';
    width: 6px;
    height: 6px;
    background: #fff;
    margin-left: -3px;
    top: 0.5rem;
    border-radius: 4px;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: scroll
}
@keyframes scroll {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0;
        transform: translateY(26px)
    }
}

/*Section-hero*/

.section-hero {
    height: 100vh;
}

/*NavBar*/
.nav-link:hover {
  opacity: 1;
}

.nav-link{
    position: relative;
}


.nav-link::before {
  transition: 300ms;
  height: 0.3rem;
  content: "";
  position: absolute;
  background-color: #FF7600;
}
.navbar-New {
    padding: 0rem !important;
    padding-top: 1rem !important;
    background-image: linear-gradient(#0e0e0e,#0e0e0e90,#ffffff00);
}

.navbar-brand-New {
    color: white !important;
    margin-left: 4vw !important;
    font-size: 1.5rem !important;
}

.nav-link-new {
    color: white !important;
    padding-bottom: 0.1rem !important;
}


.underline {
    margin-left: 0.5rem;
	height: 0.2rem;
	background-color: transparent;
	width: 0%;
	transition: width 0.3s;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    margin-bottom: -0.4rem;
}

li.active-link .underline {
	width: 80%;
	background-color: #FF7600;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

li:hover .underline {
	background-color: #FF7600;
	width: 80%;
}

li:active .underline {
	transition: none;
	background-color: #FF7600;
}




.collapse ul {
    margin-right: 4vw !important;
    position: absolute;
    right: 0 !important;
    font-size: 1rem !important;
}

.container-section-hero {
    color: #FFFFFF !important;
    padding: 4vw !important;
}

.sayHiButton {
    background: #00000000;
    font-size: 1.2rem;
    font-weight: 700;
    border: 4px solid white;
    border-radius: 0.3575rem;
    padding: 0.75rem 2rem;
    color: white;
    margin-top: 1.5rem;
    box-shadow: 0px 0.3575rem #EDA66090;
    cursor: pointer;
}

.sayHiButton:hover {
    background-color: #FF7600
}

.sayHiButton:active {
    background-color: #FF7600;
    box-shadow: 0 0.3rem #FF7600;
    transform: translateY(4px);
}

.sayHiButton:focus {
    outline: none;
}

/*section- work*/

.card {
    background-color: #FFFFFF00 !important;
}

.card-body {
    padding: 0px !important;
}

.card-title {
    font-size: 1.24rem !important;
}

.seeProjectButton {
    background: #00000000;
    font-size: 1.2rem;
    font-weight: 700;
    border: 4px solid white;
    border-radius: 0.3575rem;
    padding: 0.6rem 0px;
    color: white;
    box-shadow: 0px 0.3575rem #EDA66090;
    cursor: pointer;
    width: calc(100% - 30px);
    position: absolute;
}

.seeProjectButton:hover {
    background-color: #FF7600
}

.seeProjectButton:active {
    background-color: #FF7600;
    box-shadow: 0 0.3rem #FF7600;
    transform: translateY(4px);
}

.seeProjectButton:focus {
    outline: none;
}


/*Section Footer*/

.section-footer {
    background-color: #232323;
}

.footerText {
    font-weight: 700;
    font-size: 1.5rem;
}


.hide {
    opacity:0;
    bottom:-100;
}
.show {
    opacity:1;
    bottom:0;
}



/*image Grid*/

.containerNew {
    bottom: -32rem;
    position: relative;
    width: 32rem;
    height: 96vw;
    overflow: scroll;
    transform: rotate(-90deg);
    transform-origin: top left;

}


::-webkit-scrollbar {
    display: none;
}

.box {
    width: 32rem;
    justify-content: center;
}


.container-section-work {
    color: #FFFFFF !important;
    padding: 2vw 4vw;
}






/* Projects Pages css*/

/* Project 2 Css*/

.form-control{
    font-size: 1.2rem !important;
    padding: 0.9rem 2.375rem !important;
    background-color: #212121 !important;
    border:  3px solid #ced4da40 !important;
}

.IconSetinputBox:focus{
    box-shadow: 0 0 0 0.2rem rgba(255,167,0,0.25) !important;
}
.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

ul.icons li {
    cursor: pointer;
    padding: 1.2rem;
    width: 12.5%;
    float: left;
/*    margin:0px 9px 9px 0px;*/
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
/*    color: #212529;*/
/*    background: #212121;*/
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    -o-transition: all .1s linear;
    transition: all .1s linear;
}

ul.icons li img {
    color: #756af8;
    text-align: center;
    display: block;
    float: left;
}

ul.icons li span {
    display: block;
    line-height: 1rem;
    font-size: 0.8rem;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #ffffff;
}

ul.icons li:hover {
    color: #fff;
    background: linear-gradient(65deg, #FF7600 100%, #EDA660 0);
    box-shadow: 0 0.5rem 1rem rgba(255,118,0,.25);
}

/* Project Fun 1 */

.hoverTextContainer{
    transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.Project_fun_Image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .Project_fun_Image_container:hover .Project_fun_Image {
    opacity:0.2;
  }
  
  .Project_fun_Image_container:hover .hoverTextContainer {
    opacity: 1;
  }

/* media Queries */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    

    

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

  
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}




/* testimonial Css*/
.testimonials {
    background-size: cover;
    background-attachment: fixed;
    padding: 4vw 0 4vw;
    color: #ffffff;
    position: relative;
}
.testimonials:before {
    content: "";
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    left: 0;
}
.testimonials .heading h2 {
    font-size: 1.4rem;
    font-weight: 700;
    color: #ffffff;
}

.testimonials .heading h2 span {
    color: #ff0000;
}

.testimonials p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.7;
    color: #d1e5e7;
    margin: 1rem 0;
    padding: 0;
}

.testimonials .carousel-inner .carousel-item h3 {
    font-size: 20px;
    color: #ffffff;
    font-weight: 600;
}

.testimonials .carousel-inner .carousel-item h4 {
    font-size: 1rem;
    font-weight: 300;
    color: #e2e1e1;
    margin-bottom: 1rem;
}

.testimonials .carousel-indicators {
    bottom: -2.2rem;
}

.testimonials .carousel-indicators li {
    background-color: #b8b7b7;
    border-radius: 4rem;
    height: 0.2rem;
    width: 3rem;
}

.testimonials .carousel-indicators .active {
    background-color: #ff0000;
}


/* menu bar mobile CSS */
  #overlay-button {
    position: fixed;
    right: 1rem;
    top: 1rem;
    padding: 1.4rem 11px;
    z-index: 9999;
    cursor: pointer;
    user-select: none;
  }
  #overlay-button span {
    height: 0.35rem;
    width: 2.45rem;
    border-radius: 2px;
    background-color: white;
    position: relative;
    display: block;
    transition: all .2s ease-in-out;
  }
  #overlay-button span:before {
    top: -0.8rem;
    visibility: visible;
  }
  #overlay-button span:after {
    top: 0.8rem;
  }
  #overlay-button span:before, #overlay-button span:after {
    height: 0.4rem;
    width: 2.45rem;
    border-radius: 2px;
    background-color: white;
    position: absolute;
    content: "";
    transition: all .2s ease-in-out;
  }

  
  input[type=checkbox] {
    display: none;
  }
  
  input[type=checkbox]:checked ~ #overlay {
    visibility: visible;
    width: 100vw;
  }
  
  input[type=checkbox]:checked ~ #overlay-button:hover span, input[type=checkbox]:checked ~ #overlay-button span {
    background: transparent;
  }
  input[type=checkbox]:checked ~ #overlay-button span:before {
    transform: rotate(45deg) translate(7px, 7px);
    opacity: 1;
  }
  input[type=checkbox]:checked ~ #overlay-button span:after {
    transform: rotate(-45deg) translate(7px, -7px);
  }
  
  #overlay {
    top: 0;

    right: 0;
    background: #FF7600;
    z-index: 23;
    visibility: hidden;
    position: fixed;

    -webkit-transition-property: width; /* Safari */
  -webkit-transition-duration: 1s; /* Safari */
  transition-property: width;
  transition-duration: 1s;
  height: 100vh;
  width: 0vh;
  }
  
  #overlay ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: right;
    height: 100vh;
    padding-left: 0;
    list-style-type: none;
  }
  #overlay ul li {
    padding: 1rem;
    text-align: left;
  }
  #overlay ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
  }

  
